{
  "openapi": "3.0.3",
  "info": {
    "title": "DotMac Platform API",
    "description": "\n# DotMac Platform - Unified API Documentation\n\n## Overview\nThe DotMac Platform provides a comprehensive suite of APIs for Internet Service Provider operations.\nThis unified documentation covers all microservices and their endpoints.\n\n## Services\n\n### \ud83d\udd10 Identity Service\n- User authentication and authorization\n- Customer account management\n- Organization and contact management\n- User profiles and preferences\n\n### \ud83d\udcb0 Billing Service\n- Invoice generation and management\n- Payment processing\n- Subscription billing\n- Tax calculation\n- Credit management\n\n### \ud83d\udce6 Services Platform\n- Service catalog management\n- Service provisioning\n- Lifecycle management\n- Service bundles and packages\n\n### \ud83c\udf10 Networking Service\n- Network device management\n- SNMP monitoring\n- SSH automation\n- Network topology\n\n### \ud83d\udcca Analytics Service\n- Business intelligence\n- Reporting and dashboards\n- Data visualization\n- Performance metrics\n\n### \ud83d\udee0\ufe0f Platform Service\n- Core platform utilities\n- Feature flags\n- Audit logging\n- File storage\n\n### \ud83d\udeaa API Gateway\n- Request routing\n- Rate limiting\n- API aggregation\n- Service discovery\n\n## Authentication\n\nAll API endpoints require authentication using either:\n- **Bearer Token**: JWT token in Authorization header\n- **API Key**: X-API-Key header\n\n## Rate Limiting\n\nAPI requests are rate limited to:\n- 1000 requests per minute for authenticated users\n- 100 requests per minute for unauthenticated users\n\n## Error Handling\n\nAll errors follow a consistent format:\n```json\n{\n    \"error\": \"ERROR_CODE\",\n    \"message\": \"Human readable message\",\n    \"details\": {},\n    \"request_id\": \"req_123\"\n}\n```\n\n## Pagination\n\nList endpoints support pagination with:\n- `page`: Page number (1-based)\n- `limit`: Items per page (max 100)\n- `sort_by`: Field to sort by\n- `sort_order`: asc or desc\n\n## Webhooks\n\nMany operations support webhook notifications.\nConfigure webhooks in your account settings.\n\n## Support\n\n- Documentation: https://docs.dotmac.com\n- API Status: https://status.dotmac.com\n- Support: api-support@dotmac.com\n",
    "version": "1.0.0",
    "contact": {
      "name": "DotMac Platform Team",
      "email": "api-support@dotmac.com",
      "url": "https://docs.dotmac.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.dotmac.com",
      "description": "Production API Gateway"
    },
    {
      "url": "https://staging-api.dotmac.com",
      "description": "Staging API Gateway"
    },
    {
      "url": "http://localhost:8000",
      "description": "Local Development"
    }
  ],
  "paths": {
    "/api_gateway": {
      "get": {
        "tags": [
          "API Gateway",
          "Health"
        ],
        "summary": "Root",
        "description": "Root endpoint",
        "operationId": "root__get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/api_gateway/health": {
      "get": {
        "tags": [
          "API Gateway",
          "Health"
        ],
        "summary": "Health Check",
        "description": "Health check with database connectivity test",
        "operationId": "health_check_health_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/api_gateway/api/v1/tickets": {
      "get": {
        "tags": [
          "API Gateway",
          "Support & Ticketing"
        ],
        "summary": "List Tickets",
        "description": "List support tickets with comprehensive filtering and pagination.\n\nFeatures:\n- Filter by status, priority, category\n- Filter by customer or assigned agent\n- SLA breach detection\n- Pagination support",
        "operationId": "list_tickets_api_v1_tickets_get",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/TicketStatus"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Status"
            }
          },
          {
            "name": "priority",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/TicketPriority"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Priority"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/TicketCategory"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Category"
            }
          },
          {
            "name": "customer_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Customer Id"
            }
          },
          {
            "name": "assigned_to",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Assigned To"
            }
          },
          {
            "name": "sla_breach",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Sla Breach"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "title": "Offset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Response List Tickets Api V1 Tickets Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "API Gateway",
          "Support & Ticketing"
        ],
        "summary": "Create Ticket",
        "description": "Create a new support ticket.\n\nFeatures:\n- Automatic SLA assignment based on priority\n- Customer validation\n- Ticket history tracking\n- Notification triggering",
        "operationId": "create_ticket_api_v1_tickets_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api_gateway/api/v1/tickets/{ticket_id}": {
      "get": {
        "tags": [
          "API Gateway",
          "Support & Ticketing"
        ],
        "summary": "Get Ticket Details",
        "description": "Get detailed ticket information including history and comments.\n\nFeatures:\n- Full ticket details\n- Customer information\n- Comment thread\n- Activity history\n- SLA metrics",
        "operationId": "get_ticket_details_api_v1_tickets__ticket_id__get",
        "parameters": [
          {
            "name": "ticket_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Ticket Id"
            }
          },
          {
            "name": "include_history",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true,
              "title": "Include History"
            }
          },
          {
            "name": "include_comments",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true,
              "title": "Include Comments"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Response Get Ticket Details Api V1 Tickets  Ticket Id  Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "API Gateway",
          "Support & Ticketing"
        ],
        "summary": "Update Ticket",
        "description": "Update ticket details",
        "operationId": "update_ticket_api_v1_tickets__ticket_id__put",
        "parameters": [
          {
            "name": "ticket_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Ticket Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api_gateway/api/v1/tickets/{ticket_id}/assign": {
      "post": {
        "tags": [
          "API Gateway",
          "Support & Ticketing"
        ],
        "summary": "Assign Ticket",
        "description": "Assign ticket to support agent or team.\n\nFeatures:\n- Agent workload balancing\n- Priority adjustment\n- Assignment history tracking\n- Customer notification",
        "operationId": "assign_ticket_api_v1_tickets__ticket_id__assign_post",
        "parameters": [
          {
            "name": "ticket_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Ticket Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketAssignment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api_gateway/api/v1/tickets/{ticket_id}/escalate": {
      "post": {
        "tags": [
          "API Gateway",
          "Support & Ticketing"
        ],
        "summary": "Escalate Ticket",
        "description": "Escalate ticket to higher priority/tier",
        "operationId": "escalate_ticket_api_v1_tickets__ticket_id__escalate_post",
        "parameters": [
          {
            "name": "ticket_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Ticket Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_escalate_ticket_api_v1_tickets__ticket_id__escalate_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api_gateway/api/v1/tickets/{ticket_id}/close": {
      "post": {
        "tags": [
          "API Gateway",
          "Support & Ticketing"
        ],
        "summary": "Close Ticket",
        "description": "Close resolved ticket",
        "operationId": "close_ticket_api_v1_tickets__ticket_id__close_post",
        "parameters": [
          {
            "name": "ticket_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Ticket Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "title": "Resolution Notes"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api_gateway/api/v1/tickets/{ticket_id}/reopen": {
      "post": {
        "tags": [
          "API Gateway",
          "Support & Ticketing"
        ],
        "summary": "Reopen Ticket",
        "description": "Reopen closed ticket",
        "operationId": "reopen_ticket_api_v1_tickets__ticket_id__reopen_post",
        "parameters": [
          {
            "name": "ticket_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Ticket Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "title": "Reason"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api_gateway/api/v1/tickets/{ticket_id}/comments": {
      "post": {
        "tags": [
          "API Gateway",
          "Support & Ticketing"
        ],
        "summary": "Add Ticket Comment",
        "description": "Add comment to ticket",
        "operationId": "add_ticket_comment_api_v1_tickets__ticket_id__comments_post",
        "parameters": [
          {
            "name": "ticket_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Ticket Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketComment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Response Add Ticket Comment Api V1 Tickets  Ticket Id  Comments Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api_gateway/api/v1/tickets/{ticket_id}/history": {
      "get": {
        "tags": [
          "API Gateway",
          "Support & Ticketing"
        ],
        "summary": "Get Ticket History",
        "description": "Get ticket activity history",
        "operationId": "get_ticket_history_api_v1_tickets__ticket_id__history_get",
        "parameters": [
          {
            "name": "ticket_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Ticket Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  },
                  "title": "Response Get Ticket History Api V1 Tickets  Ticket Id  History Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api_gateway/api/v1/tickets/sla-status": {
      "get": {
        "tags": [
          "API Gateway",
          "Support & Ticketing"
        ],
        "summary": "Get Sla Status",
        "description": "Get SLA compliance status for all tickets",
        "operationId": "get_sla_status_api_v1_tickets_sla_status_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Response Get Sla Status Api V1 Tickets Sla Status Get"
                }
              }
            }
          }
        }
      }
    },
    "/api_gateway/api/v1/customers": {
      "get": {
        "tags": [
          "API Gateway",
          "Customer Management"
        ],
        "summary": "List Customers",
        "description": "List customers with filtering and search",
        "operationId": "list_customers_api_v1_customers_get",
        "parameters": [
          {
            "name": "customer_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Customer Type"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Status"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Search"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "title": "Offset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerResponse"
                  },
                  "title": "Response List Customers Api V1 Customers Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "API Gateway",
          "Customer Management"
        ],
        "summary": "Create Customer",
        "description": "Create new customer account",
        "operationId": "create_customer_api_v1_customers_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api_gateway/api/v1/customers/{customer_id}": {
      "get": {
        "tags": [
          "API Gateway",
          "Customer Management"
        ],
        "summary": "Get Customer",
        "description": "Get customer details",
        "operationId": "get_customer_api_v1_customers__customer_id__get",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Customer Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "API Gateway",
          "Customer Management"
        ],
        "summary": "Update Customer",
        "description": "Update customer information",
        "operationId": "update_customer_api_v1_customers__customer_id__put",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Customer Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "API Gateway",
          "Customer Management"
        ],
        "summary": "Delete Customer",
        "description": "Delete customer (soft delete)",
        "operationId": "delete_customer_api_v1_customers__customer_id__delete",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Customer Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api_gateway/api/v1/customers/{customer_id}/suspend": {
      "post": {
        "tags": [
          "API Gateway",
          "Customer Management"
        ],
        "summary": "Suspend Customer",
        "description": "Suspend customer account",
        "operationId": "suspend_customer_api_v1_customers__customer_id__suspend_post",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Customer Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "title": "Reason"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api_gateway/api/v1/customers/{customer_id}/reactivate": {
      "post": {
        "tags": [
          "API Gateway",
          "Customer Management"
        ],
        "summary": "Reactivate Customer",
        "description": "Reactivate suspended customer",
        "operationId": "reactivate_customer_api_v1_customers__customer_id__reactivate_post",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Customer Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api_gateway/api/v1/customers/{customer_id}/services": {
      "get": {
        "tags": [
          "API Gateway",
          "Customer Management"
        ],
        "summary": "Get Customer Services",
        "description": "Get all services for a customer",
        "operationId": "get_customer_services_api_v1_customers__customer_id__services_get",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Customer Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  },
                  "title": "Response Get Customer Services Api V1 Customers  Customer Id  Services Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api_gateway/api/v1/services": {
      "get": {
        "tags": [
          "API Gateway",
          "Service Management"
        ],
        "summary": "List Services",
        "description": "List all services with filtering",
        "operationId": "list_services_api_v1_services_get",
        "parameters": [
          {
            "name": "service_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Service Type"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Status"
            }
          },
          {
            "name": "customer_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Customer Id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "title": "Offset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  },
                  "title": "Response List Services Api V1 Services Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api_gateway/api/v1/invoices": {
      "get": {
        "tags": [
          "API Gateway",
          "Billing & Finance"
        ],
        "summary": "List Invoices",
        "description": "List invoices with filtering",
        "operationId": "list_invoices_api_v1_invoices_get",
        "parameters": [
          {
            "name": "customer_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Customer Id"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Status"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "title": "Offset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  },
                  "title": "Response List Invoices Api V1 Invoices Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api_gateway/api/v1/payments": {
      "post": {
        "tags": [
          "API Gateway",
          "Billing & Finance"
        ],
        "summary": "Process Payment",
        "description": "Process payment for invoice",
        "operationId": "process_payment_api_v1_payments_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Body_process_payment_api_v1_payments_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Response Process Payment Api V1 Payments Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api_gateway/api/v1/network/devices": {
      "get": {
        "tags": [
          "API Gateway",
          "Network Operations"
        ],
        "summary": "List Network Devices",
        "description": "List network devices",
        "operationId": "list_network_devices_api_v1_network_devices_get",
        "parameters": [
          {
            "name": "device_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Device Type"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Status"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "title": "Offset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  },
                  "title": "Response List Network Devices Api V1 Network Devices Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api_gateway/api/v1/network/status": {
      "get": {
        "tags": [
          "API Gateway",
          "Network Operations"
        ],
        "summary": "Get Network Status",
        "description": "Get overall network status",
        "operationId": "get_network_status_api_v1_network_status_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Response Get Network Status Api V1 Network Status Get"
                }
              }
            }
          }
        }
      }
    },
    "/api_gateway/api/v1/openapi": {
      "get": {
        "tags": [
          "API Gateway",
          "Documentation"
        ],
        "summary": "Get Openapi Spec",
        "description": "Get the auto-generated OpenAPI specification.\nFastAPI automatically generates this from the code above.",
        "operationId": "get_openapi_spec_api_v1_openapi_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/api_gateway/api/v1/stats": {
      "get": {
        "tags": [
          "API Gateway",
          "Analytics"
        ],
        "summary": "Get Api Stats",
        "description": "Get API statistics and endpoint coverage",
        "operationId": "get_api_stats_api_v1_stats_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "dotmac_api_gateway_Body_escalate_ticket_api_v1_tickets__ticket_id__escalate_post": {
        "properties": {
          "reason": {
            "type": "string",
            "title": "Reason"
          },
          "new_priority": {
            "$ref": "#/components/schemas/TicketPriority"
          }
        },
        "type": "object",
        "required": [
          "reason",
          "new_priority"
        ],
        "title": "Body_escalate_ticket_api_v1_tickets__ticket_id__escalate_post"
      },
      "dotmac_api_gateway_Body_process_payment_api_v1_payments_post": {
        "properties": {
          "invoice_id": {
            "type": "string",
            "title": "Invoice Id"
          },
          "amount": {
            "type": "number",
            "title": "Amount"
          },
          "payment_method": {
            "type": "string",
            "title": "Payment Method"
          }
        },
        "type": "object",
        "required": [
          "invoice_id",
          "amount",
          "payment_method"
        ],
        "title": "Body_process_payment_api_v1_payments_post"
      },
      "dotmac_api_gateway_CustomerBase": {
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 100,
            "minLength": 1,
            "title": "Name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "title": "Email"
          },
          "phone": {
            "type": "string",
            "maxLength": 20,
            "minLength": 10,
            "title": "Phone"
          },
          "customer_type": {
            "type": "string",
            "title": "Customer Type",
            "default": "residential"
          }
        },
        "type": "object",
        "required": [
          "name",
          "email",
          "phone"
        ],
        "title": "CustomerBase"
      },
      "dotmac_api_gateway_CustomerCreate": {
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 100,
            "minLength": 1,
            "title": "Name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "title": "Email"
          },
          "phone": {
            "type": "string",
            "maxLength": 20,
            "minLength": 10,
            "title": "Phone"
          },
          "customer_type": {
            "type": "string",
            "title": "Customer Type",
            "default": "residential"
          }
        },
        "type": "object",
        "required": [
          "name",
          "email",
          "phone"
        ],
        "title": "CustomerCreate"
      },
      "dotmac_api_gateway_CustomerResponse": {
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 100,
            "minLength": 1,
            "title": "Name"
          },
          "email": {
            "type": "string",
            "format": "email",
            "title": "Email"
          },
          "phone": {
            "type": "string",
            "maxLength": 20,
            "minLength": 10,
            "title": "Phone"
          },
          "customer_type": {
            "type": "string",
            "title": "Customer Type",
            "default": "residential"
          },
          "id": {
            "type": "string",
            "title": "Id"
          },
          "account_number": {
            "type": "string",
            "title": "Account Number"
          },
          "status": {
            "type": "string",
            "title": "Status"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "title": "Updated At"
          }
        },
        "type": "object",
        "required": [
          "name",
          "email",
          "phone",
          "id",
          "account_number",
          "status",
          "created_at",
          "updated_at"
        ],
        "title": "CustomerResponse"
      },
      "dotmac_api_gateway_HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "dotmac_api_gateway_TicketAssignment": {
        "properties": {
          "assigned_to": {
            "type": "string",
            "title": "Assigned To"
          },
          "assignment_type": {
            "type": "string",
            "enum": [
              "user",
              "team"
            ],
            "title": "Assignment Type",
            "default": "user"
          },
          "priority_change": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/TicketPriority"
              },
              {
                "type": "null"
              }
            ]
          },
          "notes": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Notes"
          },
          "notify_customer": {
            "type": "boolean",
            "title": "Notify Customer",
            "default": true
          }
        },
        "type": "object",
        "required": [
          "assigned_to"
        ],
        "title": "TicketAssignment"
      },
      "dotmac_api_gateway_TicketCategory": {
        "type": "string",
        "enum": [
          "technical_support",
          "billing_inquiry",
          "new_service",
          "service_change",
          "cancellation",
          "outage_report",
          "equipment_issue",
          "installation",
          "repair",
          "complaint",
          "sales_inquiry",
          "general_inquiry"
        ],
        "title": "TicketCategory"
      },
      "dotmac_api_gateway_TicketComment": {
        "properties": {
          "comment": {
            "type": "string",
            "minLength": 1,
            "title": "Comment"
          },
          "is_internal": {
            "type": "boolean",
            "title": "Is Internal",
            "default": false
          }
        },
        "type": "object",
        "required": [
          "comment"
        ],
        "title": "TicketComment"
      },
      "dotmac_api_gateway_TicketCreate": {
        "properties": {
          "title": {
            "type": "string",
            "maxLength": 200,
            "minLength": 5,
            "title": "Title"
          },
          "description": {
            "type": "string",
            "minLength": 10,
            "title": "Description"
          },
          "category": {
            "$ref": "#/components/schemas/TicketCategory"
          },
          "priority": {
            "allOf": [
              {
                "$ref": "#/components/schemas/TicketPriority"
              }
            ],
            "default": "medium"
          },
          "customer_id": {
            "type": "string",
            "title": "Customer Id"
          }
        },
        "type": "object",
        "required": [
          "title",
          "description",
          "category",
          "customer_id"
        ],
        "title": "TicketCreate"
      },
      "dotmac_api_gateway_TicketPriority": {
        "type": "string",
        "enum": [
          "low",
          "medium",
          "high",
          "urgent",
          "critical",
          "emergency"
        ],
        "title": "TicketPriority"
      },
      "dotmac_api_gateway_TicketResponse": {
        "properties": {
          "title": {
            "type": "string",
            "maxLength": 200,
            "minLength": 5,
            "title": "Title"
          },
          "description": {
            "type": "string",
            "minLength": 10,
            "title": "Description"
          },
          "category": {
            "$ref": "#/components/schemas/TicketCategory"
          },
          "priority": {
            "allOf": [
              {
                "$ref": "#/components/schemas/TicketPriority"
              }
            ],
            "default": "medium"
          },
          "id": {
            "type": "string",
            "title": "Id"
          },
          "customer_id": {
            "type": "string",
            "title": "Customer Id"
          },
          "status": {
            "$ref": "#/components/schemas/TicketStatus"
          },
          "assigned_to": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Assigned To"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "title": "Created At"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "title": "Updated At"
          },
          "resolved_at": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Resolved At"
          }
        },
        "type": "object",
        "required": [
          "title",
          "description",
          "category",
          "id",
          "customer_id",
          "status",
          "assigned_to",
          "created_at",
          "updated_at",
          "resolved_at"
        ],
        "title": "TicketResponse"
      },
      "dotmac_api_gateway_TicketStatus": {
        "type": "string",
        "enum": [
          "open",
          "assigned",
          "in_progress",
          "pending_customer",
          "pending_vendor",
          "resolved",
          "closed",
          "reopened"
        ],
        "title": "TicketStatus"
      },
      "dotmac_api_gateway_TicketUpdate": {
        "properties": {
          "title": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Title"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description"
          },
          "category": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/TicketCategory"
              },
              {
                "type": "null"
              }
            ]
          },
          "priority": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/TicketPriority"
              },
              {
                "type": "null"
              }
            ]
          },
          "status": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/TicketStatus"
              },
              {
                "type": "null"
              }
            ]
          },
          "assigned_to": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Assigned To"
          }
        },
        "type": "object",
        "title": "TicketUpdate"
      },
      "dotmac_api_gateway_ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT authentication token"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key authentication"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "API Gateway",
      "description": "API routing and aggregation",
      "x-service": "dotmac_api_gateway"
    }
  ]
}
